@import url("fonts.css");

/*RED: a20d15*/

body {
	background-color: #111;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
	font-family: 'bebas_neuebold', sans-serif;
	color:#ca9d32;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	margin-bottom:.1em;
}
h1 + h2 {
	font-size: 25px;
	color:#eee;
	margin-top: 0;
}

img {
	width: 100%;
}

/* -------------- Introduction -------------- */
section.introduction {

}

section.introduction img {
	max-width: 10em;

}

section.introduction p {
	color:#eee;
}

section.introduction em {
	font-style: normal;
	font-weight: 700;
	font-size: 110%;
}

section.introduction p.tip {
	font-style: italic;
	font-size: 90%;
}

/* -------------- Nominees -------------- */
/* ------- Header ------- */
section.nominees * {
	border:none !important;
}
section.nominees .panel, 
section.nominees .panel-heading {
	border-radius:0;
}

 section.nominees .panel-heading {
 	padding:1em;
 }
 
section.nominees .panel-title, 
section.nominees .panel-title a {
	font-family: 'bebas_neuebold', sans-serif;
 	text-decoration: none;
 	font-size:30px;
}

section.nominees .panel-group .panel+.panel {
    margin-top: 0px;
}

/* ------- Body ------- */
section.nominees .panel-body {
	background: #111;
}

section.nominees h1, 
section.nominees h2 {
	color:#ca9d32;
}

section.nominees h1 {
	font-size:28px;
}

section.nominees h2 {
	font-size:18px;
}


.form-control {
	margin:.5em 0;
}
form button {
	margin-top:1em;
}

.modal {
	padding-right: 0;
}

.modal p {
	padding: 2em;
	padding-top:.5em; 
}

.modal .btn {
	margin: 2em;
}

.statistics .highcharts-background {
	background:none;
	fill:#111;
}

.go-button {
	margin-top: 2em;
	width: 100%;
    padding: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
}
.go-button:hover {
	color:#333;
}


/* -------------- Utility -------------- */
.gold-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ca9d32+0,ffc743+100 */
	background: #ca9d32; /* Old browsers */
	background: -moz-linear-gradient(top,  #ca9d32 0%, #ffc743 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ca9d32 0%,#ffc743 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ca9d32 0%,#ffc743 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca9d32', endColorstr='#ffc743',GradientType=0 ); /* IE6-9 */
	color:#111;
}